[package]

name = "hyperx"
version = "0.12.0" # don't forget to update html_root_url
description = "Hyper's 0.11.x header module and dependencies, eXtracted"
readme = "README.md"
homepage = "https://hyper.rs"
documentation = "https://docs.rs/hyperx"
repository = "https://github.com/dekellum/hyperx"
license = "MIT"
authors = ["David Kelllum <dek-oss@gravitext.com>"]
keywords = ["http", "hyper", "hyperium"]
categories = ["network-programming", "web-programming::http-client", "web-programming::http-server"]

include = [
  "Cargo.toml",
  "LICENSE",
  "src/**/*"
]

[dependencies]
base64 = "0.9"
bytes = "0.4.4"
http = { version = "0.1", optional = true }
httparse = "1.0"
language-tags = "0.2"
log = "0.4"
mime = "0.3.2"
percent-encoding = "1.0"
time = "0.1"
unicase = "2.0"

[features]
default = [ "compat" ]
nightly = []
raw_status = []
compat = [ "http" ]
